.header {
  width: 100%;
  height: 6rem;
  background-color: #19181a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 1rem;
}

.header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #ba4b44;
}
.active {
  color: #ba4b44;
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: 1.1rem;
  }
  
}
