.content {
  width: 95%;
  max-width: 70rem;
  margin: 2rem auto;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: #ccc;
  border-radius: 3px;
  padding: 1rem;
}

.content p {
  color: #000;
}

.content .image {
  margin: 2rem auto;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .content {
    padding: 2rem;
  }
}
