.contact {
  margin: 2rem auto;
  border-radius: 2px;
  background-color: #ccc;
  width: 90%;
  max-width: 45rem;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.contact h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: left;
}

.form label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0.5rem 0 0.25rem 0;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #000;
  background-color: #dad6d5;
  resize: none;
}

.controls {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #e94d42;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.form button:hover {
  background-color: #ba4b44;
  border-color: #000;
}

@media (min-width: 768px) {
  .contact h1 {
    font-size: 2rem;
    text-align: center;
  }
}
